<main class="page">
    <div class="core">
        <div class="content">
            <article class="markdown">
                <%- page.content %>
            </article>
        </div>
    </div>
</main>